html {
	font-family: sans-serif;
	font-size: 30px;
}

#players {
    text-align: center;
    border-spacing: 0;
}
#players .player {
	transition: background 0.2s;
}
#players .player.current {
    background: rgba(255,255,0,0.5);
	transition: background 0.5s;
}

#players td, #players th {
    padding: 0.5em;
    box-sizing: border-box;
}

#alphabet {
	padding: 0;
	width: 27em;
}

#alphabet .letter {
    display: inline-block;
	box-sizing: border-box;
    margin: 0.25em 0.25em 0.25em 0.25em;
	text-align: center;
    padding:  0.3em;
    transition: background 0.5s, opacity 0.5s;
	width: 2em;
	height: 2em;
	font-size: 1.2rem;
	line-height: 1.5em;
	background: #f5f5f5;
	cursor: pointer;
}

#alphabet .letter.available {
    background: rgba(255,255,0,0.5);
    transition: background 0.5s;
}

#input input, #input button {
	font-size: 1rem;
}

#alphabet .letter.used {
    background: #888;
    color: #ccc;
    opacity: 0.5;
    transition: background 0.5s, opacity 0.5s;
}

.move .player:after {
	content: ': ';
}

.announcement {
	margin-bottom: 0.5em;
}

.announcement.error {
	color: red;
}
