#container {
	display: block;
	margin: 0 auto;
	width: 400px;
}

hr {
	width: 50%;
	border: none;
	background: black;
	height: 1px;
}

#players ul {
	padding: 0;
	list-style-type: none;
}
.player {
	padding: 0.2em 0.5em;
}

.player.me {
	background-color: orange;
}
.player.current {
	font-weight: bold;
}

#messages {
}

#messages .list {
	height: 12em;
	overflow-y: auto;
	padding: 0 1em;
}

.message {
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 0.5em;
	padding: 0.4em;
}

.message.join {
	background-color: orange;
}

.message.played {
	background-color: lightblue;
}

.message.badword {
	background-color: red;
	color: white;
}

.message.new-game {
	background-color: lightgreen;
}

.message.end-game {
	background-color: gold;
}

.message .player {
	font-weight: bold;
}
.message .player:after {
	content: ':';
}
.message.won {
	background-color: lightgreen;
}

.available .letter {
	font-weight: bold;
}

.playedWord {
	display: inline-block;
}
.playedWord::first-letter {
	font-weight: bold;
}
